@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-manrope;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6A6A6A;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6A6A6A;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  caret-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}